body {
  font-family: "Kalam", cursive;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
}

#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.note-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item h3 {
  margin-top: 0;
}

.note-item p {
  margin-bottom: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #c82333;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

footer {
  background-color: #959493;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: fixed; /* agar footer selalu di bagian bawah layar */
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media (max-width: 768px) {
  #notesList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .note-item {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #notesList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .note-item {
    padding: 8px;
    font-size: 12px;
  }
}
