body {
  font-family: "Kalam", cursive;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
}

#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.note-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item h3 {
  margin-top: 0;
}

.note-item p {
  margin-bottom: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #c82333;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

footer {
  background-color: #959493;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: fixed; /* agar footer selalu di bagian bawah layar */
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

/* Add styles for the loading spinner */
.loading {
  position: fixed; /* Make sure it's fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* Spinner styles */
.spinner {
  border: 8px solid #f3f3f3; /* Light grey background */
  border-top: 8px solid #3498db; /* Blue spinner color */
  border-radius: 50%;
  width: 60px; /* Size of the spinner */
  height: 60px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Spin animation */
}

/* Keyframes for spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
